@charset "UTF-8";
/* 共通部分 -------------- */
html{
    font-size: 100%;
}
body{
    font-family:"Yu Gothic Medium","游ゴシック Medium",YuGothic,"游ゴシック体","ヒラギノ角ゴ Pro W3",sans-serif;line-height: 1.7;
    color:#432;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
/* section nav -------------- */
.main-nav{
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 13px;
    list-style: none;
    background-color: black;
    color: white;
}
.main-nav li{
    margin-left: 36px;
}
.main-nav a{
    color:rgb(250, 249, 248);
}
.main-nav a:hover{
    color:#0bd;
}
.page-header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}
.wrapper{
    
    margin: 0 auto;
    padding: 0 4%;
}


/* int -------------- */
.introduction__content-el--description {
    -webkit-transform: matrix(1.0110731102, 0, 0, 1.0110731102, 0, 0);
    transform: matrix(1.0110731102, 0, 0, 1.0110731102, 0, 0);
    margin: 10px 0;
    color: #fff;
    font-size: 16vw;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 10px 18px 35px rgba(88,88,88,0.23);
}
/* about -------------- */
.content-about{
    background-size: cover;
    background-position: center top;
    background-color: black;
    color: white;
}
.about-title{
    text-align: center;
}
.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-items{
    width: 50%;
    margin-right: 10%;
    margin-bottom: 2%;
}



/* WORK -------------- */
.work{
    margin-top: 13px;
    background-size: cover;
    background-position: center top;
    background-color: black;
    color: white;
}
.work-title{
    text-align: center;
}



